body {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.HangManMan img {
  width: 400px;
  height: 400px;
  justify-content: center;
}

.keyboard {
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

As someone who is looking to go into frontend, I would love to see a lot more thought go into the UI here.
Some more complex layout and functionality beyond changing an image. I believe you can do A LOT more here, I challenge you to come up with something with the WOW factor we talked about the other day to really convey your passion for frontend development
